

main article p {
    font-size: 1.2em;
    line-height: 1.8;
    margin-bottom: 0em;
    font-weight: 400;
    color: #3a3a3a;
}

.about-poster {
    display: block;
    margin: -200px auto 0;
    max-width: 100%;
    height: auto;
}



.about-link {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: transform 0.3s ease;
}

.about-link:hover {
    transform: scale(1.02);
}
